#product-overview {
  background: url("../assets/freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

.plan {
  background-color: lightgreen;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block; // all our plans sit in a row
  width: 30%;
  vertical-align: middle; // all tre plans are aligned verticaly
}

.plan--highlighted {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b64c;
  padding: 8px;
  box-shadow: 2;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.plan_title {
  color: #0e4f1f;
}

.plan_price {
  color: grey;
}

.plan--highlighted .plan_title {
  color: white;
}

.plan--highlighted .plan_price {
  color: #0e4f1f;
}

.plan_features {
  list-style: noen; // removes the bulletpoint in list (li)
  margin: 0;
  padding: 0;
}

.plan_feature {
  margin: 8px 0;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit; // instead of using browser defaults, use inherit
  border: 1px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

#key-features {
  background: #ff1b68;
  margin: 80px;
}

#key-features .section-title {
  color: white;
  margin: 32px;
  padding: 16px;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  height: 128px;
  margin: 0 auto;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: grey;
}
